{% extends 'board/flatpages/default.html' %}
{% block title %}
    Post List
{% endblock title %}

{% block content %}
    {% load static %}
    <hr>
    <h1>Post List</h1>
    <hr>
    {% for post in posts %}
        {{ post.post_author }}
        {{ post.post_category}}
        <a href="{% url 'post_detail' pk=post.id %}">{{ post.post_title}}</a>
        <div class="post__post_text post__item">{{ post.post_text|safe }}</div>
        {{ post.post_date|date:'d M Y' }}
        <hr>
    {% endfor %}

        {% if page_obj.has_previous %}
            <a href="?page=1">1</a>
            {% if page_obj.previous_page_number != 1 %}
            ...
            <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number}}</a>
            {% endif %}
        {% endif %}
        {{ page_obj.number }}
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
            {% if paginator.num_pages != page_obj.next_page_number %}
            ...
            <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
            {% endif %}
        {% endif %}

{% endblock content %}}
