{% extends 'board/flatpages/default.html' %}
{% block title %}
Одно Объявление
{% endblock title %}

<style>
      #box {
        border: 1px solid blue;
        width: 2000000px;

        white-space: nowrap;
        overflow: hidden;
      }
</style>

{% block content %}
    {% load static %}
        <h2>post.html</h2>
<hr>
<h2>{{ post.post_title }}</h2>
<div id="box">

    Категория: {{ post.post_category }}

</div>
        {{post.post_text|safe }}
        <br>Автор объявления: {{post.post_author}}
        <br>Опубликовано: {{post.post_date|date:'d:M:Y'}}

<h2>{{ post_detail.get_category_display }}</h2>


{% endblock content %}
